:root {
  --black: #151515;
  --third: #8dcbf5;
  --grid-size: 4;
  --cell-size: 16vmin;
  --cell-gap: 2vmin;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}

/* BASIC STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
header,
footer {
  z-index: 5;
}
header {
  padding: var(--cell-gap);
}
h1 {
  font-size: 1.8rem;
  margin: 0;
}

/* HEADER */
header {
  position: absolute;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER */
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.rating-btn,
footer p,
footer a,
footer a img {
  font-size: 1em;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}
footer a img {
  height: 32px;
  padding: 4px 8px;
  border-radius: 8px;
}
.rating-btn:hover,
footer p:hover,
footer a:hover {
  color: var(--third);
}
footer a img:hover {
  background-color: var(--third);
}

/* GAME BOARD STYLES */
main {
  margin-top: 24px;
  background-color: #bbb;
  border-radius: 1vmin;
  position: relative;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  gap: var(--cell-gap);
  padding: var(--cell-gap);
  padding-top: calc(var(--cell-gap) + 48px);
  position: relative;
}
.cell {
  font-size: 7.5vmin;
  background-color: #a0a0a0;
  border-radius: 1vmin;
}
.tile {
  font-size: 7.5vmin;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap) + 48px);
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--color-lightness));
  animation: show 200ms ease-in;
  transition: 100ms ease-in;
}

.rating-btn {
  font-size: 1em;
}
.modal-rating-block {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  position: absolute;
  background-color: #ddd;
  border-radius: 1vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -31vmin);
  z-index: 10;
  padding: 36px;
  overflow-y: scroll;
}
.modal-rating-block {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.modal-rating-block::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.modal-rating-block:nth-child(1) {
  margin-top: 30;
}
.hidden {
  visibility: hidden;
}
.game-stats {
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
}
.game-stats > p {
  text-align: center;
  width: 100px;
  /* min-width: 80px; */
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.4em;
    width: 100%;
  }
  header {
    flex-wrap: wrap;
  }
  footer a, footer p, footer a img {
    font-size: 1em;
  }
  .game-board {
    padding-bottom: 32vmin;
  }
}